body {
  background-color: white;
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 1.1em;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e2e2e2;
  margin: 0 auto;
  height: 36px;
}
.heading {
  padding-top: 40px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-center {
  display: flex;
  align-items: center;
}
.nav-right {
  padding-right: 30px;
}
.header-title {
  font-size: 0.9em;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 10px;
}
.icon {
  width: 1em;
  height: 1em;
}
.icon-container ul,
.social-sec ul {
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
  list-style: none;
}
.icon-container li,
.social-sec li {
  margin-right: 15px;
}
.social-sec li {
  margin-right: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social {
  background-color: #e6e6e6;
  border-radius: 50%;
}
h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  font-style: italic;
}
h2 {
  font-family: "Charm", cursive;
  font-weight: Bold 700;
}
.full-size-figure {
  margin: auto;
  width: 100%;
}
.full-size-figure img {
  width: 100%;
}
.figcaption span:nth-child(1),
.video-description,
.normal-figure figcaption span:nth-child(1) {
  margin: auto;
  width: 70%;
  font-size: 0.85em;
  color: #4d4444;
}
.figcaption span:nth-child(2),
.video-credit,
.normal-figure figcaption span:nth-child(2) {
  color: #665b5b;
  font-size: 0.7em;
}
.normal-figure {
  width: 100%;
  margin: 0 auto;
}
.normal-image img {
  width: 100%;
}
.date {
  font-size: 0.8em;
}
.sub-title {
  font-weight: bold;
  font-size: 1.1em;
}
.article {
  max-width: 1200px;
  margin: 20px auto;
}
.main-content {
  max-width: 600px;
  margin: auto;
}
.main-content p {
  margin: auto;
  padding: 10px 0px;
}
.grid {
  max-width: 900px;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
.grid-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-top-header {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;
}
.grid-bottom-header {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  justify-items: stretch;
  justify-content: stretch;
}
.grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.grid-img {
  height: 45%;
}
.grid-body {
  font-size: 0.7em;
  padding-top: 40px;
  line-height: 1.5em;
  font-weight: 300;
  color: #000000;
}
.grid-credit::before {
  width: 60px;
  content: "";
  display: inline-block;
  height: 1px;
  margin: 0 0 13px;
  background-color: #000;
}
.grid-credit {
  padding: 30px 0px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 500;
  font-style: normal;
}
.video-embedding iframe {
  width: 100%;
  height: 325px;
}
.end-text {
  font-size: 0.7em;
  color: #818181;
}
.article-subheader {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.comments {
  width: 50%;
}
.comments-btn {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  color: white;
  display: block;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0px;
  text-transform: uppercase;
  transition: background-color 0.6s ease 0s;
  width: 100%;
  cursor: pointer;
}
.social {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 1024px) {
  .nav-hidden {
    display: none;
  }
  .main-content {
    padding: 10px;
  }
}
@media (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    justify-items: stretch;
    justify-content: stretch;
  }
}
@media (max-width: 640px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-items: stretch;
    justify-content: stretch;
  }
}